//Import compass properties
@import "compass/reset";
@import "compass";

@font-face{
  font-family: 'COUTURE';
  src: url('../assets/font/couture-bold-webfont.eot');
  src: url('../assets/font/couture-bold-webfont.eot') format('embedded-opentype'),
  url('../assets/font/couture-bold-webfont.woff') format('woff'),
  url('../assets/font/couture-bold-webfont.ttf') format('truetype'),
  url('../assets/font/couture-bold-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'bebas';
  src: url('../assets/font/bebas-webfont.eot');
  src: url('../assets/font/bebas-webfont.eot') format('embedded-opentype'),
  url('../assets/font/bebas-webfont.woff') format('woff'),
  url('../assets/font/bebas-webfont.ttf') format('truetype'),
  url('../assets/font/bebas-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

html{
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;

  body{
    border: 0;
    margin: 0;
    padding: 0;

    #container{
      /*width: 1024px;
      height:768px;
      position:absolute;
      left:50%;
      top:50%;
      margin:-250px 0 0 -512px;*/

      width: 100%;
      height: 100%;
      min-height: 1200px;
      padding-top: 7.5em;

      background-repeat: no-repeat;
      background-position: center top;
      background-image: url('../assets/src/bg_god.jpg');
      background-color: black;

      >hgroup{
        display: none;
      }

      #scoreboard{
        width: 660px;

        h2{
          width: 135px;
          margin-bottom: 3em;
          font-family: 'bebas';
          font-size: 15pt;
          color: white;
          text-align: center;
        }

        #score_satan, #score_god{
          width: 50%;
          float: left;
          height: 300px;

          #abilities{
            width: 100%;

            .ability{
              background-repeat: no-repeat;
            }

            .default{
              background-image: url('../assets/src/points/point_default.png');
            }

            .gold{
              background-image: url('../assets/src/points/point_default_gold.png');
            }
          }
        }

        #score_satan{
          h2{margin-left: 4em;}

          #abilities{
            .ability{
              background-position: center right;
            }

          }
        }

        #score_god{
          h2{margin-left: 4.5em;}
        }
      }

      #ability_panel{
        width: 60%;

        div{
          height: 5em;
          width: 100%;
          margin-bottom: .5em;
        }

        p{
          font-family: 'COUTURE';
          color: white;
          width: 50%;
          padding-top: 5%;
          padding-bottom: 5%;
          display: block;
          text-align: center;
          float: left;
        }

        .satan{
          background-color: rgb(255,0,0);
        }

        .god{
          background-color: rgb(0,0,255);
        }

        .active{
          opacity: 1;
        }

        .inactive{
          opacity: 0.5;
        }
      }
    }
  }

  .center{
    margin-left:auto;
    margin-right: auto;
  }
}