/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'COUTURE';
  src: url("../assets/font/couture-bold-webfont.eot");
  src: url("../assets/font/couture-bold-webfont.eot") format("embedded-opentype"), url("../assets/font/couture-bold-webfont.woff") format("woff"), url("../assets/font/couture-bold-webfont.ttf") format("truetype"), url("../assets/font/couture-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas';
  src: url("../assets/font/bebas-webfont.eot");
  src: url("../assets/font/bebas-webfont.eot") format("embedded-opentype"), url("../assets/font/bebas-webfont.woff") format("woff"), url("../assets/font/bebas-webfont.ttf") format("truetype"), url("../assets/font/bebas-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* line 27, ../sass/all.scss */
html {
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
/* line 32, ../sass/all.scss */
html body {
  border: 0;
  margin: 0;
  padding: 0;
}
/* line 37, ../sass/all.scss */
html body #container {
  /*width: 1024px;
  height:768px;
  position:absolute;
  left:50%;
  top:50%;
  margin:-250px 0 0 -512px;*/
  width: 100%;
  height: 100%;
  min-height: 1200px;
  padding-top: 7.5em;
  background-repeat: no-repeat;
  background-position: center top;
  background-image: url("../assets/src/bg_god.jpg");
  background-color: black;
}
/* line 55, ../sass/all.scss */
html body #container > hgroup {
  display: none;
}
/* line 59, ../sass/all.scss */
html body #container #scoreboard {
  width: 750px;
}
/* line 62, ../sass/all.scss */
html body #container #scoreboard h2 {
  width: 135px;
  margin-bottom: 4em;
  font-family: 'bebas';
  font-size: 15pt;
  color: white;
  text-align: center;
}
/* line 71, ../sass/all.scss */
html body #container #scoreboard #score_satan, html body #container #scoreboard #score_god {
  width: 50%;
  float: left;
}
/* line 75, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities, html body #container #scoreboard #score_god .abilities {
  width: 100%;
}
/* line 78, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .ability, html body #container #scoreboard #score_god .abilities .ability {
  background-repeat: no-repeat;
  height: 90px;
  margin-bottom: 1em;
}
/* line 83, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .ability h3, html body #container #scoreboard #score_god .abilities .ability h3 {
  width: 85%;
  height: 90px;
  line-height: 90px;
  vertical-align: middle;
  font-family: 'COUTURE';
  font-size: 16pt;
  text-align: center;
  background-repeat: no-repeat;
}
/* line 95, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .default_inactive, html body #container #scoreboard #score_god .abilities .default_inactive {
  background-image: url("../assets/src/points/point_default.png");
  color: transparent;
  text-shadow: 0 0 10px #c6dfec;
}
/* line 100, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .default_inactive h3, html body #container #scoreboard #score_god .abilities .default_inactive h3 {
  opacity: 0.1;
}
/* line 103, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .default_active, html body #container #scoreboard #score_god .abilities .default_active {
  color: #c6dfec;
  text-shadow: none;
}
/* line 107, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .default_active h3, html body #container #scoreboard #score_god .abilities .default_active h3 {
  opacity: 1;
}
/* line 110, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .gold_inactive, html body #container #scoreboard #score_god .abilities .gold_inactive {
  background-image: url("../assets/src/points/point_default_gold.png");
  color: transparent;
  text-shadow: 0 0 10px #f9dd4a;
}
/* line 115, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .gold_inactive h3, html body #container #scoreboard #score_god .abilities .gold_inactive h3 {
  opacity: 0.1;
}
/* line 120, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .gold_active, html body #container #scoreboard #score_god .abilities .gold_active {
  color: #f9dd4a;
  text-shadow: none;
  background-image: url("../assets/src/points/point_gold.png");
}
/* line 125, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .gold_active h3, html body #container #scoreboard #score_god .abilities .gold_active h3 {
  opacity: 1;
}
/* line 133, ../sass/all.scss */
html body #container #scoreboard #score_satan h2 {
  margin-left: 6.3em;
}
/* line 136, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .ability {
  background-position: center right;
  padding-left: 2.6em;
}
/* line 142, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .default_inactive h3, html body #container #scoreboard #score_satan .abilities .default_active h3 {
  background-image: url("../assets/src/ability_l.png");
}
/* line 145, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .default_active {
  background-image: url("../assets/src/points/point_red.png");
}
/* line 150, ../sass/all.scss */
html body #container #scoreboard #score_satan .abilities .gold_inactive h3, html body #container #scoreboard #score_satan .abilities .gold_active h3 {
  background-image: url("../assets/src/ability_l_gold.png");
}
/* line 156, ../sass/all.scss */
html body #container #scoreboard #score_god h2 {
  margin-left: 4.6em;
}
/* line 159, ../sass/all.scss */
html body #container #scoreboard #score_god .abilities .ability {
  background-position: center left;
  padding-left: 2.8em;
}
/* line 165, ../sass/all.scss */
html body #container #scoreboard #score_god .abilities .default_inactive h3, html body #container #scoreboard #score_god .abilities .default_active h3 {
  background-image: url("../assets/src/ability_r.png");
}
/* line 168, ../sass/all.scss */
html body #container #scoreboard #score_god .abilities .default_active {
  background-image: url("../assets/src/points/point_blue.png");
}
/* line 173, ../sass/all.scss */
html body #container #scoreboard #score_god .abilities .gold_inactive h3, html body #container #scoreboard #score_god .abilities .gold_active h3 {
  background-image: url("../assets/src/ability_r_gold.png");
}
/* line 179, ../sass/all.scss */
html body #container #opponent_ip {
  clear: both;
  width: 20%;
  margin-top: 4em;
  margin-bottom: 1em;
}
/* line 185, ../sass/all.scss */
html body #container #opponent_ip h4 {
  font-family: 'COUTURE';
  font-size: 8pt;
  text-align: center;
  text-transform: uppercase;
  color: white;
  margin-bottom: .3em;
}
/* line 194, ../sass/all.scss */
html body #container #opponent_ip p {
  font-family: 'COUTURE';
  font-size: 8pt;
  color: white;
  text-align: center;
}
/* line 201, ../sass/all.scss */
html body #container #opponent_ip form {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* line 206, ../sass/all.scss */
html body #container #opponent_ip form input {
  text-align: center;
}
/* line 212, ../sass/all.scss */
html body #container #server_status {
  width: 40%;
  height: 30px;
  font-family: 'COUTURE';
  font-size: 8pt;
  text-align: center;
}
/* line 222, ../sass/all.scss */
html .no_display {
  display: none;
}
/* line 226, ../sass/all.scss */
html .center {
  margin-left: auto;
  margin-right: auto;
}
/* line 231, ../sass/all.scss */
html .clear {
  clear: both;
}
/* line 235, ../sass/all.scss */
html .no_text_shadow {
  -webkit-transition: text-shadow 0.5s ease-in-out;
  -moz-transition: text-shadow 0.5s ease-in-out;
  -o-transition: text-shadow 0.5s ease-in-out;
  -ms-transition: text-shadow 0.5s ease-in-out;
  transition: text-shadow 0.5s ease-in-out;
  text-shadow: none;
}
/* line 244, ../sass/all.scss */
html .red {
  color: red;
}
/* line 245, ../sass/all.scss */
html .green {
  color: green;
}
